In [14]:
#Import Dependencies
import pandas as pd
import numpy as np
import configparser

In [15]:
#Read samples.JSON 
json = pd.read_json('/Users/hannaholson/Desktop/du-virt-data-pt-03-2021-u-c/15-Interactive-Visualizations-and-Dashboards/HW/Instructions/data/samples.json')

#Organize DataFrame to View Keys
json = dict(json)
json_df = pd.DataFrame.from_dict(json,orient='index')
pd.options.display.max_rows = 50
pd.options.display.float_format = '{:,.0f}'.format

#Print DataFrame
print(json_df)

                                                        0    \
names                                                   940
metadata  {'id': 940, 'ethnicity': 'Caucasian', 'gender'...
samples   {'id': '940', 'otu_ids': [1167, 2859, 482, 226...

                                                        1    \
names                                                   941
metadata  {'id': 941, 'ethnicity': 'Caucasian/Midleaster...
samples   {'id': '941', 'otu_ids': [2722, 944, 2419, 253...

                                                        2    \
names                                                   943
metadata  {'id': 943, 'ethnicity': 'Caucasian', 'gender'...
samples   {'id': '943', 'otu_ids': [1795], 'sample_value...

                                                        3    \
names                                                   944
metadata  {'id': 944, 'ethnicity': 'European', 'gender':...
samples   {'id': '944', 'otu_ids': [922, 3555, 943, 1013...

                                                        4    \
names                                                   945
metadata  {'id': 945, 'ethnicity': 'Caucasian', 'gender'...
samples   {'id': '945', 'otu_ids': [944, 1795, 922, 2419...

                                                        5    \
names                                                   946
metadata  {'id': 946, 'ethnicity': 'Caucasian', 'gender'...
samples   {'id': '946', 'otu_ids': [1167, 2859, 2011, 41...

                                                        6    \
names                                                   947
metadata  {'id': 947, 'ethnicity': 'Caucasian', 'gender'...
samples   {'id': '947', 'otu_ids': [2419, 2722, 2859, 94...

                                                        7    \
names                                                   948
metadata  {'id': 948, 'ethnicity': 'Caucasian', 'gender'...
samples   {'id': '948', 'otu_ids': [728, 922, 2722, 943,...

                                                        8    \
names                                                   949
metadata  {'id': 949, 'ethnicity': 'Caucasian', 'gender'...
samples   {'id': '949', 'otu_ids': [2419, 944, 1795], 's...

                                                        9    ...  \
names                                                   950  ...
metadata  {'id': 950, 'ethnicity': 'Caucasian', 'gender'...  ...
samples   {'id': '950', 'otu_ids': [1795, 922, 944, 3360...  ...

                                                        143  \
names                                                  1562
metadata  {'id': 1562, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1562', 'otu_ids': [944, 1795, 922, 930...

                                                        144  \
names                                                  1563
metadata  {'id': 1563, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1563', 'otu_ids': [3476, 922, 943, 308...

                                                        145  \
names                                                  1564
metadata  {'id': 1564, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1564', 'otu_ids': [1795, 3064, 944, 15...

                                                        146  \
names                                                  1572
metadata  {'id': 1572, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1572', 'otu_ids': [1167, 482, 3643, 13...

                                                        147  \
names                                                  1573
metadata  {'id': 1573, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1573', 'otu_ids': [922, 2419, 1453, 17...

                                                        148  \
names                                                  1574
metadata  {'id': 1574, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1574', 'otu_ids': [482, 909, 2419, 944...

                                                        149  \
names                                                  1576
metadata  {'id': 1576, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1576', 'otu_ids': [1929, 1770, 1926, 1...

                                                        150  \
names                                                  1577
metadata  {'id': 1577, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1577', 'otu_ids': [922, 1795, 151, 318...

                                                        151  \
names                                                  1581
metadata  {'id': 1581, 'ethnicity': 'Asian(American)', '...
samples   {'id': '1581', 'otu_ids': [1795, 3312, 1399, 3...

                                                        152
names                                                  1601
metadata  {'id': 1601, 'ethnicity': 'Caucasian', 'gender...
samples   {'id': '1601', 'otu_ids': [1929, 3030, 1795, 8...

[3 rows x 153 columns]

In [16]:
#Make DataFrame to hold Names
#Organize with Index
names = dict(json['names'])
names_df = pd.DataFrame.from_dict(names,orient = 'index')

#Print DataFrame
print(names_df)

        0
0     940
1     941
2     943
3     944
4     945
..    ...
148  1574
149  1576
150  1577
151  1581
152  1601

[153 rows x 1 columns]

In [17]:
#Make DataFrame to hold MetaData
#Organize with Index
metadata = dict(json['metadata'])
metadata_df = pd.DataFrame.from_dict(metadata,orient = 'index')

#Print DataFrame
print(metadata_df)

       id              ethnicity gender  age         location bbtype  wfreq
0     940              Caucasian      F   24      Beaufort/NC      I      2
1     941  Caucasian/Midleastern      F   34       Chicago/IL      I      1
2     943              Caucasian      F   49         Omaha/NE      I      1
3     944               European      M   44      NewHaven/CT      I      1
4     945              Caucasian      F   48  Philidelphia/PA      I      1
..    ...                    ...    ...  ...              ...    ...    ...
148  1574              Caucasian      M   30               OK      I      7
149  1576              Caucasian      F   33               NC      I      0
150  1577              Caucasian      M   26               NC      I      0
151  1581        Asian(American)      F   22               NC      I      2
152  1601              Caucasian      F   22               NC      I      2

[153 rows x 7 columns]

In [22]:
#Make DataFrame to hold Samples
#Organize with Index
samples = dict(json['samples'])
samples_df = pd.DataFrame.from_dict(samples,orient = 'index')

#Narrow Down Columns to Pull
samples_otu_ids = json['samples'][0]['otu_ids']
samples_sample_values = json['samples'][0]['sample_values']
samples_otu_labels = json['samples'][0]['otu_labels']
samples_df = pd.DataFrame(list(zip(samples_otu_ids, samples_sample_values, samples_otu_labels)), columns = ['otu_ids', 'sample_values', 'otu_labels'])

#Print DataFrame
print(samples_df)

    otu_ids  sample_values                                         otu_labels
0      1167            163  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...
1      2859            126  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
2       482            113                                           Bacteria
3      2264             78  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
4        41             71                                           Bacteria
..      ...            ...                                                ...
75      340              2                                           Bacteria
76     2110              2       Bacteria;Firmicutes;Clostridia;Clostridiales
77     2188              2  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
78      357              2                                           Bacteria
79      342              2                                           Bacteria

[80 rows x 3 columns]

In [23]:
df_dict = {}

for i in range(len(json['samples'])):
    samples_otu_ids = json['samples'][i]['otu_ids']
    samples_sample_values = json['samples'][i]['sample_values']
    samples_otu_labels = json['samples'][i]['otu_labels']
    df_dict['df%s' %i] = pd.DataFrame(list(zip(samples_otu_ids, samples_sample_values, samples_otu_labels)), columns = ['otu_ids', 'sample_values', 'otu_labels'])

print(samples_df)

    otu_ids  sample_values                                         otu_labels
0      1167            163  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...
1      2859            126  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
2       482            113                                           Bacteria
3      2264             78  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
4        41             71                                           Bacteria
..      ...            ...                                                ...
75      340              2                                           Bacteria
76     2110              2       Bacteria;Firmicutes;Clostridia;Clostridiales
77     2188              2  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
78      357              2                                           Bacteria
79      342              2                                           Bacteria

[80 rows x 3 columns]